<section class="work-together">
    <div class="container">
        <div class="work-together-title">
            <img src="" alt="" width="44">
            <h2>LETS WORK TOGETHER</h2>
        </div>
        <form class="work-together-form">
            <input type="email" name="" id="">
            <input type="text">
            <button type="submit"></button>
        </form>
        <ul>
            <li>
                <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
            </li>
            <li>
                <a href="tel:+3801111111111">+380 11 1111 11 11</a>
            </li>
        </ul>
    </div>
</section>